<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='loginform.css') }}">
</head>
<body>
    <h1>Online Text Editor</h1>
    <form class="form-container" action="/login" method="post">
        <h2>Sign In</h2>
        <div>
            <label>Username</label> 
            <br>
            <input type="text" id="username" name="username" autocomplete="on" required>
        </div>
        <div>
            <label>Password</label>
            <br>
            <input type="password" id="password" name="password" autocomplete="off" required>
            <br>
            {% if message %}
            <label class="error">{{ message }}</label>
            {% endif %}
        </div>
        <div class="checkbox">
            <input type="checkbox" id="showPassword">
            <label for="showPassword">Show Password</label>
        </div>
        <button type="submit">Log in</button>
        <a href="{{ url_for('signup') }}">Don't have an account? Sign up</a>
    </form>

    <script>
        const checkbox = document.getElementById('showPassword');
        const password = document.getElementById('password');
        
        checkbox.addEventListener('change', function () {
        if (checkbox.checked) {
            password.type = 'text';
        } else {
            password.type = 'password';
        }
        });
    </script>
</body>
</html>