<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='manage.css') }}">
    <title>Documents</title>
</head>
<body>
    <h1>Document List</h1>
    <br>
    <form class="container" id="manageDoc" method="post" action="/">
        <div class="menu">
            <input type="submit" name="create" id="create" value="Create new file">
            <input type="submit" name="delete" id="delete" value="Delete selected files">
            <input type="submit" name="logout" id="logout" value="Log out">
        </div>
        <table class="table-container">
            <thead>
                <tr>
                    <th>cbox</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                {% for doc in documents %}
                    <tr>
                        <td><input type="checkbox" name="{{doc[1]}}" id="{{doc[0]}}" value="{{doc[0]}}"></td>
                        <td>{{doc[1]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</body>
</html>