<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='manage.css') }}">
    <title>{{username}}Documents</title>
</head>
<body>
    <h1>Document List</h1>
    <br>
    <form class="container" id="manageDoc" method="post" action="/">
        <div class="menu">
            <button type="button" onclick="openPopup('cre')">Create new file</button>
            <button class="btn-disabled" type="button" id="delBtn" onclick="openPopup('del')" disabled>Delete selected files</button>
            <input class="warning" type="submit" name="logout" id="logout" value="Log out">
        </div>
        <table class="table-container">
            <thead>
                <tr>
                    <th> </th>
                    <th>Title</th>
                    <th>Date Modified</th>
                    <th>Size (KB)</th>
                </tr>
            </thead>
            <tbody>
                {% for doc in documents %}
                    <tr>
                        <td><input type="checkbox" name="{{doc[0]}}" id="{{doc[0]}}" value="{{doc[0]}}"></td>
                        <td>{{doc[1]}}</td>
                        <td>{{doc[3]}}</td>
                        <td>{{doc[4]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>

    <div class="popup-container" id="cre-popup">
        <form class="popup-form" method="post" action="/">
            <h2>Create New Document</h2>
            <label>Document name</label><br>
            <input type="text" name="DocName" id="DocName" >
            
            <div>
                <input type="submit" name="createDoc" id="createDoc" value="Create">
                <button type="button" onclick="closePopup('cre')">Cancel</button>
            </div>
        </form>
    </div>

    <div class="popup-container" id="del-popup">
        <form class="popup-form" method="post" action="/">
            <h2>The selected documents will be delete PERMANENTLY</h2>
            <input type="hidden" name="doc_ids" id="doc_ids" value="">
            <div>
                <input type="submit" name="ConfirmDel" id="ConfirmDel" value="Yes">
                <button type="button" onclick="closePopup('del')">Cancel</button>
            </div>
        </form>
    </div>

    <script>
        let crePopup = document.getElementById("cre-popup")
        let delPopup = document.getElementById("del-popup")
        let checkboxes = document.querySelectorAll('input[type="checkbox"]');
        let doc_ids = document.getElementById("doc_ids")

        function openPopup(type){
            if (type == 'cre'){
                crePopup.classList.add("open-popup")

            }else if(type == 'del'){
                let selectedDocs = []
                checkboxes.forEach((checkbox) => {
                if (checkbox.checked) {
                    selectedDocs.push(checkbox.value);
                }
                });

                console.log(selectedDocs)

                doc_ids.value = selectedDocs

                console.log(doc_ids.value)
                delPopup.classList.add("open-popup")
            }
        }
        function closePopup(type){
            if (type == 'cre'){
                crePopup.classList.remove("open-popup")
            }else if(type == 'del'){
                delPopup.classList.remove("open-popup")
            }
        }

        // If there is any checkbox is checked, return true, to enable del button
        function isCheck(checkboxes) {
        for (let i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                return true;
            }
        }
        return false;
}

        // Function to enable/disable del button if any checkbox is checked
        function enableDelBtn() {
            const delBtn = document.getElementById("delBtn");
            // Enable del btn if any checkbox is checked, vice versa
            if (isCheck(checkboxes)) {
                delBtn.disabled = false; // Enable the button
                delBtn.classList.remove("btn-disabled")
            } else {
                delBtn.disabled = true; // Disable the button
                delBtn.classList.add("btn-disabled")
            }
        }

        // Add an event listener to checkboxes to update the delete button state
        checkboxes.forEach((checkbox) => {
            checkbox.addEventListener("change", enableDelBtn);
        });

    </script>
</body>
</html>