<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>text_editor</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='text_editor.css') }}">
</head>
<body>
    <form class="container" id="editor" method="post" action="{{url_for('text_editor', doc_id=doc[0])}}">
        <div class="title flex">
            <h1>Title : {{doc[1]}}</h2>
            <input class="warning" type="submit" name="logout" id="logout" value="Log out">
        </div>
        <div class="menubar flex">
            <button class="box" type="submit" name="save" id="save"><img src="../static/icon/save.png"></button>
            <button class="box" type="submit" name="download" id="download" ><img src="../static/icon/download.png"></button>
            <input class="box" type="button" name="A+" id="A+" value="A+">
            <input class="box" type="button" name="A-" id="A-" value="A-">
            <input class="box" type="submit" value="search">
        </div>
        <textarea class="content" name="content" id="content" autofocus>{{doc[5]}}</textarea>
    </form>
    <script>

    </script>
</body>
</html>