<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>text_editor</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='text_editor.css') }}">
</head>
<body>
    <form class="container" id="editor" method="post" action="{{url_for('text_editor', doc_id=doc[0])}}">
        <div class="title flex">
            <h1>Title : {{doc[1]}}</h2>
            <input type="submit" name="home" id="home" value="HOME">
            <input class="warning" type="submit" name="logout" id="logout" value="Log out">
        </div>
        <div class="menubar flex">
            <button class="box" type="submit" name="save" id="save"><img src="../static/icon/save.png"></button>
            <button class="box" type="submit" name="download" id="download" ><img src="../static/icon/download.png"></button>
            <button class="box" type="button" name="A+" id="A+" onclick="upFontSize()">A+</button>
            <button class="box" type="button" name="A-" id="A-" onclick="downFontSize()">A-</button>
            <input class="box" type="button" onclick="openPopup()" value="rename">
        </div>
        <textarea class="content" name="content" id="content" autofocus>{{doc[5]}}</textarea>

        <div class="popup-container" id="cre-popup">
            <div class="popup-form">
                <h2>Change Document Name</h2>
                <label>Document name</label><br>
                <input type="text" name="DocName" id="DocName">
                <p>When the name is changed, the document will also save automatically, do you want to continue?</p>
                <div>
                    <input type="submit" name="rename" id="rename" value="Yes">
                    <button type="button" onclick="closePopup()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
    <script>
        let textarea = document.getElementById("content")

        function changeFontSize(size){
            textarea.style.fontSize = `${size}px`;
        }
        function upFontSize(){
            let computedStyle = window.getComputedStyle(textarea);
            let fontSize = parseInt(computedStyle.getPropertyValue("font-size"));
            changeFontSize(fontSize+1)
        }
        function downFontSize(){
            let computedStyle = window.getComputedStyle(textarea);
            let fontSize = parseInt(computedStyle.getPropertyValue("font-size"));
            changeFontSize(fontSize-1)
        }

        let crePopup = document.getElementById("cre-popup")
        let doc_ids = document.getElementById("doc_ids")
        let docNameInput = document.getElementById('DocName')

        function openPopup(){
            crePopup.classList.add("open-popup")
            docNameInput.required = true;
        }
        function closePopup(type){
            crePopup.classList.remove("open-popup")
            docNameInput.required = false;
        }
    </script>
</body>
</html>